.questionnaire-wrapper{
    position: relative;
	z-index: 2;
    .questionnaire-module{
        position: relative;
		z-index: 10;
        background-color: $white;
        border-radius: 1.25rem;
        box-shadow: 0px 32px 80px -4px rgba(27, 37, 51, 0.12);
        padding-block:clamp(1rem, -0.5968rem + 4.0798vw, 5rem);
        padding-inline:clamp(1rem, -0.5968rem + 4.0798vw, 5rem);
        margin-top: -2rem;
		@include media-breakpoint-up(md) {
			margin-top: -3rem;
		}
		@include media-breakpoint-up(lg) {
			margin-top: -6rem;
		}

    }
}
.wizard{
    position: relative;
    .nav-tabs{
        position: relative;
        justify-content: space-between;
        border: 0;
        margin-block: 1rem;
        &:after {
            content: "";
            width: 80%;
            border-bottom: 2px solid $gray-200;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
        .nav-item{
            position: relative;
            .nav-link {
                width: 70px;
                height: 70px;
                margin:0;
                background:$white;
                border: 0;
                border-radius: 0;
                padding: 0;
                z-index: 10;
                @include flex-item(row,center,center);

                .icon-check{
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    border: 2px solid $gray-100;
                    background-color: $white;
                    color: transparent;
                    @include flex-item(column, center,center);
                }
                .wizard-number{
                    font-size: $fs-md;
                    color:$gray-300;
                    font-weight: 600;
                    margin-inline-start: .5rem;
                }
                &.active {
                    .icon-check{
                        border: 2px solid $primary;
                        background-color: $primary;
                        color: $white;
                    }
                    .wizard-number{
                          color:$gray-800;

                    }
                }
                @include media-breakpoint-down(sm) {
                    width: 40px;
                    height: 40px;
                    .icon-check{
                       height:16px;
                       width:16px;
                       font-size: $fs-sm;
                    }
                    .wizard-number{
                         font-size: $fs-sm;
                         margin-inline-start: .25rem;
                    }
                }
            }
            &:first-child{
                .nav-link{
                    justify-content: flex-start;
                }
            }

        }
    }

}








