.support-accordion {
  .accordion-item {
    background: $white;
    border-radius: .25rem;
    margin-bottom: .5rem;
    border: 1px solid $gray-100;
    overflow: hidden;
    .accordion-header {
      margin: 0;
    }
    .accordion-button {
      background: none;
      color: $gray-600;
      font-size: $fs-base;
      font-weight:600;
      border: none;
      box-shadow: none;
      padding: 1rem;
      border-radius:.25rem;
      &:not(.collapsed) {
        background: $white;
        color: $dark;
        box-shadow: none;
      }
      &:after {
        content: "\e136";
        font-family: "Phosphor" !important;
        background: $gray-50;
        color: $gray-400;
        border-radius: .25rem;
        display: inline-block;
        @include  flex-item(row,center,center);
        font-size: 1.25rem;
        width: 32px;
        height: 32px;
      }
      // &[aria-expanded="true"]:after {
      //   transform: rotate(180deg);
      // }
    }

    .accordion-collapse {
      border: none;
      .accordion-body {
        background: $white;
        color: $gray-300;
        font-size: $fs-base;
        padding:0 1rem 1rem 1rem;
        border-radius: .5rem;
        p{
          margin-bottom: 0;
        }
      }
    }
  }
}