.attachment-card {
  position: relative;
  .close-btn {
    position: absolute;
    cursor: pointer;
    right: .5rem;
    top:.5rem;
    color: $gray-300;
    text-decoration: none;
    i{
         font-size: $fs-md;
    }

  }
}
.progress{
    height: 8px;
    background-color: $gray-100;
}