.badge{
    font-weight: 500;
}
.badge-fade{
    &.bg-primary{
        background-color: tint($primary,75%) !important;
        color: shade($primary,25%);
    }
    &.bg-secondary{
        background-color: tint($secondary,75%) !important;
        color: shade($secondary,25%);
    }
    &.bg-warning{
        background-color: tint($warning,75%) !important;
        color: shade($warning,25%);
    }
    &.bg-info{
        background-color: tint($info,75%) !important;
        color: shade($info,25%);
    }
    &.bg-success{
        background-color: tint($success,75%) !important;
        color: shade($success,25%);
    }
    &.bg-danger{
        background-color: tint($danger,75%) !important;
        color: shade($danger,25%);
    }
}
.badges-dots{
    @include flex-item(row,flex-start,center);
    flex-wrap: wrap;
    padding: 0;
    gap: .5rem;
    .badge{
        padding: 0 1rem 0 0;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: $white;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
        &:last-child{
            &:after{
                display: none;
            }
        }
    }
    &.gray-dots{
        color: $gray-300;
        .badge{
             color: $gray-300;
            &:after{
                background-color: $gray-200;
            }
        }
    }
}
$newColors: (
	"primary": $primary,
	"secondary": $secondary,
	"orange": $orange,
	"warning": $warning,
	"danger": $danger,
	"info": $info,
	"cyan": $cyan,
	"pink": $pink,
	"success": $success,
	"purple": $purple,
	"teal": $teal,
	"white": $white,
);
.info-badge{
    @include flex-item(row,flex-start, center);
    border:1px solid $primary;;
    background-color: $white;
    border-radius: .25rem;
    padding: .35rem .75rem;
    gap: .35rem;
    color: $gray-900;
    font-size: $fs-sm;
    i{
        line-height: 1.5;
        font-size: $fs-md;
    }
    @each $name, $color in $newColors {
        &.info-badge-#{$name}{
            border:1px solid $color;
            background-color: tint($color,85%);
        }
    }
}


