.form-check{
    &.form-check-md{
        .form-check-input{
            width: 1.25rem;
            height: 1.25rem;
        }
        .form-check-label{
            font-size: 1rem;
        }
    }
    &.form-check-lg{
        .form-check-input{
            width: 1.5rem;
            height: 1.5rem;
        }
        .form-check-label{
            font-size: 1.125rem;
        }
    }
}