.icon-box {
	@include flex-item(column, center, center);
	border-radius: 0.3125rem;
	background-color:$gray-100;
	padding: 1rem;
	font-size: 1.5rem;
	&.circle, &.icon-box-circle {
		border-radius: 50%;
	}
}
.avatar {
	@include flex-item(column, center, center);
	border-radius: 0.3125rem;
	background-color:$gray-100;
	overflow: hidden;
	font-size: 1.5rem;
	&.circle {
		border-radius: 50%;
	}
}

$sizes: (
  xs: 24px,
  sm: 32px,
  md: 40px,
  lg: 48px,
  xl: 56px,
  2xl: 64px,
  3xl: 72px,
  4xl: 80px,
  5xl: 88px,
  6xl: 96px,
  7xl: 104px,
  8xl: 112px,
  9xl: 120px,
  10xl: 128px,
);



@each $label, $size in $sizes {
  .icon-box-#{$label},
  .avatar-#{$label} {
    width: $size;
    height: $size;
	overflow: hidden;
    //padding: $size * 0.25;
    i {
      font-size: $size * 0.5;
    }
	img{
		width: 100%;
		object-fit: cover;
	}
    div {
      width: $size * 0.5;
      height: $size * 0.5;
      @include flex-item(column, center, center);
    }
  }
}

$newColors: (
	"primary": $primary,
	"secondary": $secondary,
	"orange": $orange,
	"warning": $warning,
	"danger": $danger,
	"info": $info,
	"cyan": $cyan,
	"pink": $pink,
	"success": $success,
	"purple": $purple,
	"teal": $teal,
	"white": $white,
);
@each $name, $color in $newColors {
	.icon-#{$name} {
		background-color: tint($color, 25%);
		color: shade($dark, 100%);
		// svg {
		// 	fill: shade($color, 80%);
		// }
		i {
			color: shade($color, 80%);
		}
		&.bordered {
			border: 10px solid shade($color, 85);
		}
		// &.bg-#{$name}-subtle {
		// 	background-color: rgba($color, .25);
		// }
	}
}
