$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-base: unquote("clamp(0.875rem, 0.7188rem + 0.5vw, 1rem)");
$fs-md: unquote("clamp(0.875rem, 0.5625rem + 1vw, 1.125rem)");
$fs-lg: unquote("clamp(1.05rem, -0.1034rem + 2.406vw, 1.375rem)");
$fs-xl: unquote("clamp(1.25rem, -0.1917rem + 3.0075vw, 1.563rem)");
$fs-2xl: unquote("clamp(1.5rem, -0.6626rem + 4.5113vw, 1.875rem)");
$fs-3xl: unquote("clamp(1.875rem, -1.7293rem + 7.5188vw, 2.5rem)");
$fs-4xl: unquote("clamp(2rem, -4.4878rem + 13.5338vw, 3.125rem)");
$fs-5xl: unquote("clamp(3rem, -1.3252rem + 9.0226vw, 4.375rem)");
$fs-6xl: unquote("clamp(4rem, 0.15rem + 7vw, 4.75rem)");
$font-family-base: "DM Sans", Roboto, "Helvetica Neue", "Noto Sans",
	"Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
	"Segoe UI Symbol", "Noto Color Emoji";

.fs-xs {
	font-size: $fs-xs;
}

.fs-sm {
	font-size: $fs-sm;
}

.fs-base {
	font-size: $fs-base;
}
.fs-md {
	font-size: $fs-md;
}
.fs-lg {
	font-size: $fs-lg;
}

.fs-xl {
	font-size: $fs-xl;
}

.fs-2xl {
	font-size: $fs-2xl;
}

.fs-3xl {
	font-size: $fs-3xl;
}

.fs-4xl {
	font-size: $fs-4xl;
}

.fs-5xl {
	font-size: $fs-5xl;
}

.fs-6xl {
	font-size: $fs-6xl;
}
body {
	font-family: $font-family-base;
}
.title {
	.title-text {
		position: relative;
		//@include padding-top(2.5rem !important);
		font-size: $fs-3xl;
		font-weight: 700;
		color: $dark;
	}
}
