.lab-details-wrap{
  background-color: shade($secondary,40%);
}
.lab-card{
    .card-header{
        position: relative;
        border: 0;
        background-color: tint($success,85%);
        .ratings{
            position: absolute;
            right: 16px;
            top:16px

        }
    }
}
.lab-detail-card{
    background-color: shade($secondary,25%);
}
.lab-time-slots{
    background-color: tint($primary,85%);
    border-radius: .25rem;
    padding: 1rem;
}