.order-timeline{
    .accordion-item {
        position:relative;
        padding-block-end: 1rem;
        &:before {
            content:"";
            border-left:2px dashed $gray-300;
            position:absolute;
            height:100%;
            left:1.25rem;
        }
        &:first-child{
            &:before {
                top:8px
            }
        }
        &:last-child{
            padding-block-end: 0;
            &:before {
               // height:20px;
                top:3px
            }

        }
        .accordion-button {
            background-color:transparent;
            text-decoration: none;
            padding-block: .5rem;
            &:after {
               //    background:0 0
            }
        }
    }
    .accordion-body{
        padding-inline-start: 3.5rem;
        padding-block: 0;
    }
}



