.welcome-header{
    position: relative;
    z-index: 1;
    &:after{
        content: "";
        background: $secondary url(../images/assets/page-header-bg.jpg) no-repeat center center;
        height: 250%;
        position: absolute;
        left: -1rem;
        right: -1rem;
        top: -1rem;
        z-index: -1;
        border-radius: 0 0 1rem 1rem;
    }
}