.profile-tabs,.custom-tabs {
  .nav {
    border-bottom: 1px solid $gray-100;
    margin-bottom: 1rem;
    .nav-link {
      color: $dark;
      font-size: $fs-sm;
      font-weight: 500;
      padding: .5rem 1rem;
      background: none;
      border: none;
      border-bottom: 2px solid transparent;
      margin-bottom: -1px;
      &:hover,
      &.active {
        color: $primary;
        border-bottom: 2px solid $primary;
        background: none;
      }
    }
  }
}
.tab-header{
    border-bottom: 1px solid $gray-100;
}
.form-actions{
    padding-block-start: 1rem;
    margin-block-start:1rem;
    border-top: 1px solid $gray-100;
}
.form-switch {
  padding-left: 3.5rem;
//  line-height: 2;
  .form-check-input {
    margin-left: -3.5rem;
    height: 1.5rem;
    width: 2.75rem;
    background-color: $gray-100;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    border: 0;
    &:checked{
      background-color: $primary;
    }
  }

}